#addrecipebody {
  padding: 2vh;
  margin: 0;
  background-color: #D4DEBD;
}

.recipeTable {
  margin: auto;
}

table, td, th {
  border-collapse : collapse;
  padding: 3vh;
  text-align: center;
}

.saveBtn {
  margin-left: 50%;
  margin-right: 50%;
  background-color: #B9A690;
  border: none;
  border-radius: 5%;
  color: white;
  width: 80px;
  height: 35px;
  cursor: pointer;
}