/* 배경 */
.BeerDetail {
  position: relative;
  width: 100%;
  height: 2434px;
  background: #f1ebc6;
}

/* 맥주 정보 */

.BeerDetail-Info > p {
  /* 제품명 */
  position: absolute;
  width: 392px;
  height: 139px;
  left: 628px;
  bottom: 340px;

  font-family: "NanumSquareNeoRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;

  white-space: nowrap;
  letter-spacing: -0.011em;

  color: #1e1e1e;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.BeerDetail-Info {
  position: absolute;
  width: 1520px;
  height: 329px;
  bottom: 1734px;
  
  left: 50%;
  transform: translate(-50%, 0%);
  background: #fffef3;
}

.BeerDetail-lines {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 793px;
  height: 195px;
  left: 537px;
  top: 45px;
}

.BeerDetail-line {
  width: 782px;
  height: 0px;
  margin: 30px;
  border: 2px solid #998a77;
  position: relative;
}

.BeerDetail-line p:nth-child(1) {
  /* 정보 글씨 */
  width: 80px;
  height: 24px;

  font-family: "NanumSquareNeoRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  white-space: nowrap;

  position: absolute;
  bottom: -1px;
  letter-spacing: -0.011em;

  color: #4d3a3a;
}

.BeerDetail-line p:nth-child(2) {
  /* 실제 정보*/
  position: absolute;
  width: 520px;
  right:0;
  bottom: -22px;

  font-family: "NanumSquareNeoRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  padding: 15px;

  letter-spacing: -0.011em;

  color: #a69c9c;
  text-align: right;
}

.heart-icon {
  position: absolute;
  left: 518px;
  bottom: 410px;
}

/* 이미지 프레임 */
.BeerDetail-image {
  position: absolute;
  width: 280px;
  height: 538px;
  left: 155px;
  bottom: 0px;

  background: #d9d9d9;
  border-radius: 143px;
}

.BeerDetail-image > img {
  position: absolute;
  width: 280px;
  height: 538px;

  border-radius: 143px;
}

.BeerDetail-footer {
  position: absolute;
  width: 100%;
  height: 192px;
  left: 0px;
  bottom: 0px;

  background: #6f6457;
}

.center{
  display: flex;
  justify-content: center;
}